.scrollable {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  width: 100%;
  height: 98%;
  overflow: scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.scrollable-tops {
  display: flex;
}

.scrollable-bottom {
  display: flex;
  justify-content: space-between;
  background-color: rgb(207, 224, 207);
  height: 70px;
  padding: 5px 15px;
  align-items: top;
  font-size: 12px;
  color: gray;
  padding-top: 20px;
}

.scrollable-bottom-left {
  display: flex;
  flex-direction: column;

  gap: 5px;
}
.scrollable-bottom-right {
  display: flex;
  flex-direction: column;
}
